<p id="notice"><%= notice %></p>

<h1>Listing Quantities</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quantities.each do |quantity| %>
      <tr>
        <td><%= quantity.amount %></td>
        <td><%= quantity.ingredient %></td>
        <td><%= link_to 'Show', quantity %></td>
        <td><%= link_to 'Edit', edit_quantity_path(quantity) %></td>
        <td><%= link_to 'Destroy', quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quantity', new_quantity_path %>
